/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* unvisited link */

 @font-face {
    font-family: "Urban Jungle Regular";
    src: url(/assets/urban.otf);
  }

body {
    font-family: "Urban Jungle Regular";
    background-image: url(background.jpg);
    background-size: cover;
    color: white;
}

a {
    color: white;
}

 .card-body a:link {
   color: #ffc107 ;
 }

 /* visited link */
 .card-body a:visited {
   color: #ffc107 ;
 }

 /* mouse over link */
 .card-body a:hover {
   color: hotpink;
 }

 /* selected link */
 .card-body a:active {
   color: #ffc107 ;
 }
 .comment {
   background-color: purple
 }

 .post {
   text-align: left;
 }

 .transparent{
   background:rgba(0,0,0,0.5);
 }
