<h1 style="color: white">Playlists</h1>

<%# make these into buttons %>
<div class="new_playlists">
<%= button_to 'New Playlist', new_playlist_path, :method => 'get', :class => "btn btn-secondary btn-lg" %>
<%= button_to 'Add from Spotify', add_spotify_playlist_path, :method => 'get', :class => "btn btn-secondary btn-lg" %>
</div>

<% if @playlists.size >0 %>

<%= render 'playlists_render'%>

<% else %>
  <h3>You're not following any playlists<br><br>Find or create a playlistM<br><br> or hit up the feed to see what's being shared</h3>

<% end %>
<br>
