<br>
<% if @error %>
  <%= @error %>
<% end %><br>

<%= form_tag '/playlists/add_new_spotify_playlist' do %>
<label>Spotify Playlist Link:</label><br>
  <input type="text" id="url" name="url"><br>
  <input type="submit" value="Submit">
<% end %>

Copy your playlist link from spotify.
